{% extends 'base.html' %}

{% block 'title' %}Owner car{% endblock %}

{% block 'content' %}
<div class="container">
    <div class=" row">
        <div class=" col-lg-12">
            <h1 class=" mt-5">Carros e proprietários</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID proprietário</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>ID carro</th>
                        <th>Modelo</th>
                        <th>Cor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in cars %}
                    <tr>

                        <td><a href="{% url 'management_cars_city:contagem' car.owner_id %}">{{car.owner_id}}</a>
                        </td>
                        <td>{{car.owner.format_name}}</td>
                        <td>{{car.owner.format_last_name}}</td>
                        <td>{{car.id}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.color}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <nav aria-label="Navegação de página exemplo">
        <ul class="pagination">
            {% for page in cars.paginator.page_range %}
            {% if cars.number == page %}
            <li class="page-item active"><a class="page-link" href="?p={{page}}">{{page}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?p={{page}}">{{page}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    
</div>

{% endblock %}