{% extends 'base.html' %}

</title>Owner_car</title>

{% block 'content' %}
<div class="container">
    <div class=" row">
        <div class=" col-lg-12">
            <h1 class=" mt-5">Carros e proprietários</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID proprietário</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>ID carro</th>
                        <th>Modelo</th>
                        <th>Cor</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in cars %}
                    <tr>
                        <td><a href="#">{{car.owner_id}}</a></td>
                        <td>{{car.owner.format_name}}</td>
                        <td>{{car.owner.format_last_name}}</td>
                        <td>{{car.id}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.color}}</td>
                        <td>{{car.owner.owner_car}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}