{% extends 'base.html' %}

{% block 'title' %}Registrar carro{% endblock %}

{% block 'content' %}

<body>
    <div class="container">
        <center>
            <h1>Cadastrar carro | usuário</h1>
        </center>

        <form action="{% url 'management_cars_city:register_car' %}" method="post" class="form" autocomplete="off"
            enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-outline-info">Cadastrar</button>
        </form>
        <button><a href="{% url 'management_cars_city:listar_pessoas' %}" class="btn btn-primary">Retornar á
                lista</a>
        </button>
    </div>
</body>





{% endblock %}