{% extends 'base.html' %}

{% block 'title' %}Op | {{person.id}}{% endblock %}

{% block 'content' %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">{{ person.format_name }} {{ person.format_last_name }}</h1>
            <dl>
                <dt>ID</dt>
                <dd>{{person.id}}</dd>

                <dt>Telefone</dt>
                <dd>{{ person.format_celular }}</dd>

                <dt>E-mail</dt>
                <dd>{{ person.email }}</dd>

                <dt>Data criação</dt>
                <dd>{{ person.created }}</dd>

                <dt>Possui veículo</dt>
                <dd>{{ person.owner_car }}</dd>

                <dt> <a href="{% url 'management_cars_city:oportunidade_venda' %}" class="btn btn-outline-info">Retornar á lista</a> </dt>
                <dd>

                </dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}